@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0.001;
  }
  to {
    opacity: 1;
  }
}

.Button {
  font-size: 1em;
  display: inline-block;
  padding-top: var(--btn-padding-top, 1em);
  padding-right: 1.5em;
  padding-bottom: var(--btn-padding-bottom, 1em);
  padding-left: 1.5em;
  cursor: pointer;
  border-radius: var(--btn-border-radius, 0);
  border-width: var(--btn-border-width, 1px);
  border-style: solid;
  border-color: var(--btn-border-color, transparent);
  font-weight: 600;
  line-height: 1;
  transition: padding-left 0.4s, background-color 0.4s, border 0.4s;

  svg {
    fill: currentColor;
  }
  .Icon--left {
    margin-right: 12px;
  }
  & + .Button {
    margin-left: 15px;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }

  &.is-spinning {
    position: relative;
    padding-left: 30px;

    &::before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 5px;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      border-radius: 50%;
      animation: 0.6s linear infinite spinner, 1s fade;
      border: 2px solid;
      border-top-color: rgba(255, 255, 255, 0.3);
    }
  }
}

/* Sizes: */

.Button--size-s {
  font-size: 0.8em;
}

.Button--size--l {
  font-size: 1.125em;
}

.Button--size--xl {
  font-size: 1.25em;
}

/* Modes: */
.Button--character {
  width: 23px;
  height: 23px;
  padding: 0;
  line-height: 21px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  border-color: var(--border-color, #999);
  &:focus {
    outline: none;
    border-color: var(--p-btn-bg);
  }
}

.Button--icon {
  padding: 0;
  text-align: center;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

/* Themes: */
.Button--primary {
  background-color: var(--p-btn-bg);
  color: var(--p-btn-text);
  border-color: var(--p-btn-border-color, var(--btn-border-color));
  &:hover {
    background-color: var(--p-btn-hover-bg);
    color: var(--p-btn-hover-text);
  }
  &:focus {
    outline: 0;
    background-color: var(--p-btn-focus-bg);
    color: var(--p-btn-focus-text);
  }
  &:active {
    background-color: var(--p-btn-active-bg);
    color: var(--p-btn-active-text);
  }

  &.is-spinning::before {
    border-top-color: var(--p-btn-spin);
  }
}

.Button--secondary {
  background-color: var(--s-btn-bg);
  border-color: var(--s-btn-border-color, var(--btn-border-color));

  color: var(--s-btn-text);

  &:hover {
    background-color: var(--s-btn-hover-bg);
    color: var(--s-btn-hover-text);
  }
  &:focus {
    outline: 0;
    background-color: var(--s-btn-focus-bg);
    color: var(--s-btn-focus-text);
  }

  &:active {
    background-color: var(--s-btn-active-bg);
    color: var(--s-btn-active-text);
  }

  &.is-spinning::before {
    border-top-color: var(--s-btn-spin);
  }
}

.Button--bold {
  background-color: var(--b-btn-bg);
  color: var(--b-btn-text);
  border-color: var(--b-btn-border-color, var(--btn-border-color));

  &:hover {
    background-color: var(--b-btn-hover-bg);
    color: var(--b-btn-hover-text);
  }
  &:focus {
    outline: 0;
    background-color: var(--b-btn-focus-bg);
    color: var(--b-btn-focus-text);
  }
  &:active {
    background-color: var(--b-btn-active-bg);
    color: var(--b-btn-active-text);
  }
}

.Button--danger {
  background-color: var(--danger-color);
  color: #fff;

  &:hover,
  &:focus {
    outline: 0;
    background-color: var(--danger-dark);
  }
}

.Button--link {
  padding: 0;
  background: transparent;
  color: var(--link-color);
  cursor: pointer;
  border-radius: 0;
  border: 1px solid transparent;
  transition: border var(--duration);

  &:hover,
  &:focus {
    outline: 0;
    border-bottom: 1px solid currentColor;
  }

  &.is-spinning::before {
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.7);
    border-top-color: rgba(0, 0, 0, 0.3);
  }
}

.Button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
