.FormField {
  margin-bottom: 1.5em;

  .FormField--radio,
  .FormField--checkbox {
    margin-bottom: 0;
  }

  &.FormField--hidden {
    margin: 0;
  }
  &.FormField--actions {
    margin-top: 1.5em;
  }

  &.FormField--preview {
    width: 100%;
    max-width: 1200px;
    .FormField-input {
      min-height: 280px;
    }
  }

  input,
  textarea {
    padding: 4px;
    border: 1px solid;
    border-color: var(--field-border-color);
    border-radius: 3px;
    box-shadow: none;
    transition: border-color 0.3s;
    &:hover {
      border-color: var(--field-border-h-color);
    }
    &:focus {
      outline: 0;
      border-color: var(--field-border-f-color);
    }
  }

  input,
  textarea,
  select {
    display: block;
  }

  textarea {
    width: 100%;
    min-height: 80px;
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: inline-block;
    padding: 0;
    border: 0;
    margin: 0 6px 0 0;
  }
  input[type='hidden'] {
    display: none;
  }
  input[type='number'] {
    width: 5em;
  }
}

.FormField--checkbox {
  position: relative;
  padding-left: 25px;
  input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.FormField--error {
  /* color: var(--error-color); */
  input,
  textarea,
  select {
    border: 1px solid var(--error-border);
    color: var(--error-border);
  }
}

.FormField--ib {
  display: inline-block;
}

.FormField-label--block {
  display: block;
}

.FormField-note {
  font-style: italic;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.02s;
  &.is-active {
    opacity: 1;
    transition-delay: 1.5s;
  }
}
