:root {
  --btn-border-radius: 4px;
  --primary-btn-bg: #0096e2;
  --primary-btn-hover-bg: #00699e;
  --primary-btn-focus-bg: #00699e;
  --primary-btn-active-bg: #fff;
  --primary-btn-text: #fff;
  --primary-btn-hover-text: #fff;
  --primary-btn-focus-text: #fff;
  --primary-btn-active-text: #00699e;

  --secondary-btn-bg: #0096e2;
  --secondary-btn-hover-bg: #00699e;
  --secondary-btn-focus-bg: #00699e;
  --secondary-btn-active-bg: #fff;
  --secondary-btn-text: #fff;
  --secondary-btn-hover-text: #fff;
  --secondary-btn-focus-text: #fff;
  --secondary-btn-active-text: #00699e;

  --bold-btn-bg: #e90;
  --bold-btn-hover-bg: #ffad18;
  --bold-btn-focus-bg: #ffad18;
  --bold-btn-active-bg: #fff;
  --bold-btn-text: #fff;
  --bold-btn-hover-text: #fff;
  --bold-btn-focus-text: #fff;
  --bold-btn-active-text: #e90;

  --danger-btn-bg: #f32222;
  --danger-btn-hover-bg: #ffad18;
  --danger-btn-focus-bg: #ffad18;
  --danger-btn-active-bg: #fff;

  --danger-btn-text: #fff;
  --danger-btn-hover-text: #fff;
  --danger-btn-focus-text: #fff;
  --danger-btn-active-text: #f32222;

}
